<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jpiche.redditroulette"
      android:versionCode="7"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="19"
            />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_main"
                 android:allowBackup="true"
                 android:theme="@style/RouletteTheme"
                 android:name=".RouletteApp"
            >
        <activity android:name=".activities.MainActivity"
                  android:label="@string/app_name"
                  android:theme="@style/RRActivity"
                  android:configChanges="orientation|screenSize"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SettingsActivity"
                  android:label="@string/menu_settings"
                >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SubredditListActivity"
                  android:label="@string/pref_subreddits_title"
                >
            <intent-filter>
                <action android:name="com.jpiche.redditroulette.SubredditList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity"
                  android:label="@string/menu_login"
                >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
